@font-face {
  font-family: "PolySans Slim";
  src: url("../../public/PolySans Slim.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
.polysan-slim {
  font-family: "PolySans Slim";
  font-weight: 300;
}

.root-div-section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.child-div-section {
  flex-grow: 1;
}

/* navbar */
.nav-1 {
  width: 80%;
  background-color: #27232c;
  border-bottom: 2px solid #3e3a44;
  height: 100px;
}
.nav-2 {
  width: 24%;
  background-color: #a5f8d3;
  border-bottom: 2px solid #a5f8d3;
  height: 100px;
}

.custom-nav-bg-link {
  position: relative;
  padding: 35px 20px; /* Adjust padding as needed */
  color: white; /* Text color */
  text-decoration: none; /* Remove underline */
  z-index: 1; /* Ensure it's above the pseudo-element */
}
.extend-bg::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: -150px; /* Extend to the far right */
  background-color: #a5f8d3; /* Background color */
  z-index: -1; /* Ensure it is behind the link text */
}
@media (max-width: 992px) {
  .extend-bg::after {
    right: 0px;
  }
}
.container-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: transparent;
  z-index: 1;
}

.logo-size {
  width: 100%;
  max-height: 35px;
}
.custom-nav-link {
  font-size: 20px;
  font-weight: 500;
  color: #bee0d6;
  text-decoration: none;
  &:hover {
    color: #bee0d6;
  }
}
.custom-nav-link-pc {
  color: #2e4a45 !important;
  &:hover {
    color: #2e4a45 !important;
  }
}
.custom-humberger {
  display: none;
}

@media only screen and (max-width: 720px) {
  .logo-size {
    width: 100%;
    max-height: 24px;
  }

  .custom-nav-link {
    display: none;
  }
  .nav-1 {
    width: 100%;
  }
  .nav-section-1 {
    width: 100%;
    background-color: #27232c;
    border-bottom: 2px solid #3e3a44;
  }
  .nav-2 {
    display: none;
  }
  .nav-logo {
    padding-left: 0rem;
  }
  .custom-humberger {
    display: block;
  }
  .mobile-humberger-menu {
    font-size: 16px;
    font-weight: 500;
    color: #bee0d6;
    text-decoration: none;
    &:hover {
      color: #bee0d6;
    }
  }
}

.navbar-toggler span {
  display: block;
  background-color: #bee0d6;
  height: 3px;
  width: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  left: 0;
  opacity: 1;
  transition: all 0.35s ease-out;
  transform-origin: center left;
}

.navbar-toggler span:nth-child(1) {
  transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(2) {
  opacity: 1;
}

.navbar-toggler span:nth-child(3) {
  transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(1) {
  margin-top: 0.3em;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  transform: translate(15%, 33%) rotate(-45deg);
}

/* Footer Section */
.body-area {
  background-color: #27232c;
}

.communication-area {
  margin-top: 300px;
  margin-bottom: 50px;
  background-image: url("../assets/images/Pattern.svg");
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-position: left;
  border-bottom: 2px solid #3e3a44;
}

.get-top {
  margin-top: -160px;
}
.email-box {
  
  border-radius: 4px;
  background: #2e4a45;
  padding: 80px;
}
.phone-box {
  background: #ffffff;
  color: #2e4a45;
}
.phone-box h1 {
  font-family: "PolySans Slim";
  font-size: 300;
  width: 80%;
}
.email-box h1 {
  font-family: "PolySans Slim";
  font-size: 300;
  font-size: 48px;
  font-weight: 300;
}

.dark-line-color {
  background-color: #bee0d6;
  height: 2px;
  width: 30%;
}
.light-line-color {
  background-color: #ffffff;
  opacity: 0.1;
  height: 2px;
  width: 70%;
}

.email-title {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #e1eeec;
}
.phone-title {
  color: #3e3a44;
}

@media only screen and (max-width: 720px) {
  .communication-area {
    margin-top: 80px;
    margin-bottom: 150px !important;
    background-image: none;
    border-bottom: none;
  }

  .get-top {
    margin-top: 0px;
  }
  .email-box {
    padding: 40px 20px;
  }

  .phone-box h1 {
    width: 70% !important;
  }
  .email-box h1 {
    font-size: 32px;
    width: 85%;
  }

  .dark-line-color {
    background-color: #bee0d6;
    height: 2px;
    width: 30%;
  }
  .light-line-color {
    background-color: #ffffff;
    opacity: 0.1;
    height: 2px;
    width: 70%;
  }

  .email-title {
    font-size: 16px;
  }
}

.footer-nav-link-title {
  font-size: 80px;
  letter-spacing: -1.6px;
  color: #bee0d6;
  width: 60%;
  font-family: "PolySans Slim";
  font-size: 300;
}

.footer-nav-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
  color: #fff;
}

.footer-nav {
  display: block;
  font-size: 24px;
  font-family: "PolySans Slim";
  font-size: 300;
  margin-bottom: 20px;
  color: #bee0d6;
  text-decoration: none;
  cursor: pointer;
}

.footer-bottom-divider {
  border-top: 2px solid #3e3a44;
}

.footer-bottom {
  font-size: 20px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  &:hover {
    color: rgba(255, 255, 255, 0.6);
  }
}
.footer-bottom span {
  font-weight: 700;
  color: #bee0d6;
}

.social-media-icon a {
  padding-right: 24px;
}

.go-to-top {
  display: inline-flex;
  transform: rotate(90deg);
  padding: 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  transform: rotate(-360deg);
  background: #bee0d6;
  cursor: pointer;
}

.header-title-top {
  padding-top: 160px;
}
.header-title-bottom {
  padding-bottom: 160px;
}

@media only screen and (max-width: 576px) {
  .header-title-top {
    padding-top: 100px;
  }
  .header-title-bottom {
    padding-bottom: 64px;
  }
  .footer-nav-link-title {
    font-size: 48px;
    font-weight: 300;
    letter-spacing: -0.96px;
    width: 100%;
  }

  .footer-nav-title {
    font-size: 16px;
    margin-bottom: 20px;
  }

  .footer-nav {
    font-size: 20px;
    margin-bottom: 16px;
  }

  .footer-mobile {
    margin-top: 50px;
  }

  .footer-bottom {
    font-size: 16px;
    font-weight: 500;
  }
  .footer-bottom span {
    font-size: 16px;
    font-weight: 600;
  }

  .social-media-icon a {
    padding-right: 20px;
  }
  .footer-bottom-mobile {
    margin-top: 30px;
  }
  .custom-gutter {
    margin-top: 64px;
  }
}

/* Main Focus */
.btnHeroSection {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.middle-link {
  margin-top: 24px;
}

/* More Info accordion */
.accordion-header-hidden {
  display: none;
}
.accordion-button::after {
  content: none;
}
.accordion-item{
  border-radius: 4px;
}
.accordion-button {
  display: flex;
  justify-content: space-between;
  background-color: #bee0d6;
  color: black;
  border: none;
  font-size: 1.25rem;
  padding: 1.5rem 5rem;
  transition: background-color 1s;
  border-radius: 4px;
  
}
.accordion-button:not(.collapsed) {
  background-color: #bee0d6;
  color: black;
}
.accordion-collapse{
  background-color: #E1EEEC !important;
}
.contact-accordion-body {
  border-radius: 4px;
  padding: 50px 80px 64px 80px;
  background-color: #2e4a45;
  color: #bee0d6;
  animation: fadeIn 0.5s;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.accordion-item {
  border: none;
  margin-bottom: 1rem;
}
.toggle-icon {
  cursor: pointer;
}

.accordion-body-header {
  margin-bottom: 50px;
}
.accordion-body-header p {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2px;
}

.accordion-body-details {
  max-width: 950px;
  font-family: "PolySans Slim";
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -0.64px;
}

@media only screen and (max-width: 576px) {
  .accordion-button {
    font-size: 16px;
    padding: 20px;
  }
  .accordion-body {
    padding: 20px;
    /* background-color: transparent !important; */
  }
  .accordion-body-header {
    margin-bottom: 20px;
  }
  .accordion-body-header p {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px; /* 100% */
    letter-spacing: -0.16px;
  }

  .accordion-body-details {
    font-size: 24px;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
  }
}

/* contact section */
.divider-contact-area {
  width: 100%;
  height: 1px;
  background-color: #bee0d6;
  margin: 20px 0;
}

/* input area */
.input-container {
  position: relative;
  margin-bottom: 50px;
}

.input-field {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #3e3a44;
  outline: none;
  width: 100%;
  font-size: 24px;
  padding: 8px 0;
  color: #bee0d6;
  font-weight: 300 !important;
  font-family: "PolySans Slim";
}

.input-label {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 24px;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.6);
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.48px;
  font-family: "PolySans Slim";
}

.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
  top: -20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.48px;
  font-family: "PolySans Slim";
}

@media only screen and (max-width: 576px) {
  .input-container {
    margin-bottom: 40px;
  }
  .input-field {
    font-size: 20px;
  }

  .input-label {
    font-size: 20px;
  }

  .input-field:focus + .input-label,
  .input-field:not(:placeholder-shown) + .input-label {
    font-size: 12px;
  }
}

.dropdown-select {
  border: none;
  background-color: #27232c;
  border-bottom: 2px solid #3e3a44;
  outline: none;
  width: 100%;
  font-size: 24px;
  padding: 8px;
  color: #bee0d6;
  font-weight: 300 !important;
  font-family: "PolySans Slim";
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.dropdown-label {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 24px;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.48px;
  font-family: "PolySans Slim";
}

.dropdown-select:focus + .dropdown-label,
.dropdown-select:not([value=""]) + .dropdown-label {
  top: -20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.48px;
  font-family: "PolySans Slim";
}

.dropdown-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.dropdown-container svg {
  fill: #a5f8d3;
}

.dropdown-select option {
  padding: 8px 16px !important;
}
.dropdown-select option:checked {
  background-color: #27232c;
}

@media only screen and (max-width: 576px) {
  .dropdown-select {
    font-size: 20px;
  }

  .dropdown-label {
    font-size: 20px;
  }

  .dropdown-select:focus + .dropdown-label,
  .dropdown-select:not([value=""]) + .dropdown-label {
    font-size: 12px;
  }
}

/* Text area */
.textarea-field {
  border: none;
  background-color: transparent;
  border-bottom: 2px solid #3e3a44;
  outline: none;
  width: 100%;
  font-size: 24px;
  padding: 8px 0;
  color: #bee0d6;
  font-weight: 300 !important;
  font-family: "PolySans Slim";
  resize: none; /* Optional: to disable resizing */
}

.textarea-label {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 24px;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.48px;
  font-family: "PolySans Slim";
}

.textarea-field:focus + .textarea-label,
.textarea-field:not(:placeholder-shown) + .textarea-label {
  top: -20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: -0.48px;
  font-family: "PolySans Slim";
}

@media only screen and (max-width: 576px) {
  .textarea-field {
    font-size: 20px;
  }

  .textarea-label {
    font-size: 20px;
  }

  .textarea-field:focus + .textarea-label,
  .textarea-field:not(:placeholder-shown) + .textarea-label {
    font-size: 12px;
  }
}

/* Check box */
.checkbox-container {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  font-family: "PolySans Slim";
}

.checkbox-label {
  margin-left: 8px;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  font-family: "PolySans Slim";
  cursor: pointer;
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: 2px solid #3e3a44;
  border-radius: 4px;
  position: relative;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.checkbox-input:checked + .custom-checkbox::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 12px;
  height: 12px;
  background-color: #a5f8d3;
  border: 2px solid #a5f8d3 !important;
  border-radius: 2px;
  transform: translate(-50%, -50%);
}

@media only screen and (max-width: 576px) {
  .checkbox-container {
    margin-bottom: 40px;
  }

  .checkbox-label {
    font-size: 14px;
  }
}




/* change here when make it responsive */
.overlay-content-container {
  position: absolute;
  top: 64%;
  left: 6%;
  right: 24%;
  transform: translateY(-50%);
  background-color: white;
  color: black;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.overlay-first-col, .overlay-sec-col, .overlay-third-col{
  padding: 64px 30px;
}
.overlay-sec-col{
  border-right: 1px solid  #BEE0D6;
border-left: 1px solid  #BEE0D6;
}
.overlay-title{
  color:  #2E4A45;
  font-family: "PolySans Slim";
font-size: 24px;
font-weight: 300;
line-height: 24px;
letter-spacing: -0.48px;
margin: 24px 0 20px 0;
}
.overlay-details{
  color:  #27232C;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.16px;
opacity: 0.6;
}

.work-header-title-bottom{
  padding-bottom: 80px;
}

@media only screen and (max-width: 576px) {
  .content-left{
    min-height: 703px;
  }
  .overlay-content-container {
    top: 44%;
    left: 6%;
    right: 5%;
}
.overlay-first-col, .overlay-sec-col, .overlay-third-col{
  padding: 40px 20px;
  margin-left: 12px;
}

.overlay-sec-col{
  border-right: none !important;
border-left: none !important;
  border-top: 1px solid  #BEE0D6;
border-bottom: 1px solid  #BEE0D6;
}

.overlay-title{
font-size: 20px;
line-height: 20px; /* 100% */
letter-spacing: -0.4px;
margin: 24px 0 10px 0;
}
.overlay-details{
  color:  #27232C;
font-size: 14px;
font-weight: 500;
line-height: 24px; /* 171.429% */
letter-spacing: -0.14px;
}
.work-header-title-bottom{
  padding-bottom: 40px;
}
}


.btn-animated {
  position: relative;
  margin: 0;
  padding: 17px 35px;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #fff;
  border: 1px solid rgba(22, 76, 167, 0.6);
  border-radius: 10px;
  color: #1d89ff;
  font-weight: 400;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}


.btn-animated:hover {
  animation: rotate624 0.7s ease-in-out both;
}

.btn-animated:hover span {
  animation: storm1261 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

@keyframes rotate624 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(3deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-3deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

@keyframes storm1261 {
  0% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }

  25% {
    transform: translate3d(4px, 0, 0) translateZ(0);
  }

  50% {
    transform: translate3d(-3px, 0, 0) translateZ(0);
  }

  75% {
    transform: translate3d(2px, 0, 0) translateZ(0);
  }

  100% {
    transform: translate3d(0, 0, 0) translateZ(0);
  }
}

.btn-animated {
  overflow: hidden;
  position: relative;
}

.btn-animated span {
  z-index: 20;
}

.btn-1:after{
  background: rgb(46, 74, 69);
}
.btn-2:after{
  background: #a5f8d3;
}

.btn-animated:after {  
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.4;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}

.btn-animated:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

