/* Hero Section */

.heroBodyArea {
  background-color: #27232c;
  padding-bottom: 160px;
}

.heroSection {
  background-image: url("../assets/images/bg_hero_section.svg");
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-position: right top -10px;
}
.heroSection2 {
  background-image: url("../assets/images/bg_hero_section.svg");
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-position: left top 40px;
}

.heroSectionArea {
  padding-top: 160px;
}

.heroSectionTitle {
  color: #bee0d6;
  font-size: 100px;
  font-weight: 300;
  line-height: 100px;
  letter-spacing: -2px;
  font-family: 'PolySans Slim';
}

.heroSectionDivider{
  margin-bottom: 24px;
}


.responsiveHeroImage {
  border-radius: 4px;
}

.heroSectionBottomText {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85%;
}
.heroSectionTextDetails {
  margin-bottom: 0;
  color:  rgba(255, 255, 255, 0.60);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 24px;
}

.btnHeroSection {
  display: inline-flex;
  padding: 20px;
  align-items: center;
  gap: 40px;
  border-radius: 4px;
  background: #a5f8d3;
  text-decoration: none;
}
.btnHeroSection p {
  color: #2e4a45;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.2px;
  text-transform: capitalize;
}

.heroSectionCompanyTitle{
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  padding: 0 20px;
  color: #BEE0D6;
  border-right: 2px solid  #3E3A44;
  border-left: 2px solid  #3E3A44;
  margin-bottom: 34px;

}

.heroSectionTextDetails2{
  color:  #BEE0D6;
font-size: 32px;
font-weight: 300;
letter-spacing: -0.64px;
margin-bottom: 0;
font-family: "PolySans Slim";
}

@media only screen and (max-width: 576px) {
  .heroBodyArea {
    padding-bottom: 100px;
  }
  
  .heroSection, .heroSection2 {
    background-image: none;
  }
  
  .heroSectionArea {
    padding-top: 100px;
    column-gap: 64px;
  }
  
  .heroSectionTitle {
    color: #bee0d6;
    font-size: 48px;
    font-weight: 300;
    line-height: 48px;
    letter-spacing: -0.96px;
  }

  .heroSectionDivider{
    margin: 40px 0 20px 0 !important;
  }
  


  .responsiveHeroImage {
    border-radius: 4px;
  }
  
  .heroSectionBottomText {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .heroSectionTextDetails {
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .btnHeroSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btnHeroSection p {
    font-size: 16px;
  }

  .heroSectionCompanyTitle{
    font-size: 16px;
    margin-bottom: 34px;
  
  }
  
  .heroSectionTextDetails2{
  font-size: 24px;
  }
}

/* Our Portfolio Section */
.ourPortfolioSection {
  background-color: #27232c;
}
.ourPortfolioArea {
 padding: 160px 0;
}
.ourPortfolioAreaImage {
 background-image: url("../assets/images/Portfolio-Pattern.png");
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-position: right top 0px;
}

.projectName{
  color: #BEE0D6;
font-size: 48px;
font-weight: 300;
line-height: 48px; /* 100% */
letter-spacing: -0.96px;
margin-top: 30px;
}
.projectSummary{
  color:  rgba(255, 255, 255, 0.60);
font-size: 18px;
font-weight: 500;
line-height: 28px;
letter-spacing: -0.18px;
margin: 24px 0;
}
.projecTopicDivider{
  width: 1px;
height:  20px;
background-color: #3E3A44;
margin: 0 20px;
}
.projectType{
  color: #BEE0D6;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: -0.16px;
margin-bottom: 0;
}

.profileProjectImage{
  margin-top: 120px;
}
.profileProjectImageDetails{
  margin-bottom: 120px;
}

.heroSectionCompanyHeader{
  margin-bottom: 56px;
  font-family: "PolySans Slim";
  font-weight: 300;
}


@media only screen and (max-width: 576px) {

  .ourPortfolioArea {
   padding: 100px 0;
  }
  .ourPortfolioAreaImage {
   background-image: none;
  }
  .heroSectionCompanyHeader{
    align-items: center;
    margin-bottom: 40px;
    font-size: 40px;
    line-height: 40px; /* 100% */
letter-spacing: -0.8px;
  }
  
  .projectName{
  font-size: 32px;
  margin-top: 30px;
  }
  .projectSummary{
  font-size: 14px;
  margin: 12px 0;
  }

  .projectType{
  font-size: 14px;
  margin-bottom: 0;
  }
  
  .profileProjectImage{
    margin-top: 40px;
  }
  .profileProjectImageDetails{
    margin-bottom: 40px;
  }
}


/* Main focus */
.mainFocusSection {
  background-color: #E1EEEC;
}
