.heroBodyArea {
  background-color: #27232c;
  padding-bottom: 160px;
}

.heroSection {
  background-image: url("../pages/assets/images/bg_hero_section.svg");
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  background-position: right top -10px;
}

.heroSectionArea {
  padding-top: 160px;
}

.heroSectionTitle {
  color: #bee0d6;
  font-size: 100px;
  font-weight: 300;
  line-height: 100px;
  letter-spacing: -2px;
}

.responsiveHeroImage {
  border-radius: 4px;
}

.heroSectionBottomText {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 85%;
}
.heroSectionTextDetails {
  margin-bottom: 0;
  color: #bee0d6;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 24px;
}

.btnHeroSection {
  display: inline-flex;
  padding: 20px;
  align-items: center;
  gap: 40px;
  border-radius: 4px;
  background: #a5f8d3;
  text-decoration: none;
}
.btnHeroSection p {
  color: #2e4a45;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.2px;
  text-transform: capitalize;
}
