

.serviceHeaderTitle {
  width: 50% !important;
  padding-bottom: 56px;
}

.serviceDiscriptionArea {
  padding: 100px 80px;
  gap: 56px;
  border-radius: 4px;
  background: #2e4a45;
  height: 100%;
}

.serviceTitle {
  color: #bee0d6;
  font-size: 47px;
  font-family: "PolySans Slim";
  font-weight: 300;
  line-height: 48px;
  letter-spacing: -0.96px;
}

.serviceDetails {
  color: rgba(255, 255, 255, 0.6);
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.18px;
  margin: 56px 0;
  flex-grow: 1;
}

.serviceDetailsPoints {
  color: #bee0d6;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.2px;
  margin-bottom: 0;
}

.serviceImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 576px) {
  .serviceHeaderTitle {
    width: 100% !important;
    padding-bottom: 40px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .serviceDiscriptionArea {
    padding: 40px 20px;
    gap: 20px;
  }

  .serviceTitle {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -0.64px;
  }

  .serviceDetails {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.14px;
    margin: 20px 0;
  }

  .serviceDetailsPoints {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: -0.16px;
  }
}

/* price info section */
.priceInfoSection {
  border-bottom: 2px solid #3e3a44;
  background: #27232c;
  padding: 160px 0;
}

.priceTitleArea {
  max-width: 818px;
  padding-left: 6rem;
}

.serviceDetailsTitle {
  color: #bee0d6;
  font-size: 32px;
  font-family: "PolySans Slim";
  font-weight: 300;
  line-height: 40px;
  letter-spacing: -0.64px;
}

.priceInfoDetails {
  padding: 50px 30px;
  border-radius: 4px;
  background: #e1eeec;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.priceInfoDetails p {
  color: #2e4a45;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.18px;
  margin-bottom: 0px;
}

.contactNumber {
  color: #2e4a45;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: -0.18px;
  text-decoration: none;
}
@media only screen and (max-width: 576px) {
  .contactNumber {
    color: #2e4a45;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.18px;
  }
  .priceInfoSection {
    padding: 100px 0;
  }

  .priceTitleArea {
    max-width: 90%;
    padding-left: 0rem;
  }

  .serviceDetailsTitle {
    font-size: 24px;
  }

  .priceInfoDetails {
    padding: 40px 20px;
    border-radius: 4px;
    background: #e1eeec;
    width: 100%;
    
  }
  .priceInfoDetails p {
    color: #2e4a45;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.14px;
  }
}
